
.splide{
   width: 400px;
}


.splide__slide{
    display: flex;
    justify-content: center;
    align-items: center;
}

.splide__track{
    margin-right: 20px;
}

.splide__slide img {
    width: 70%;
    height: auto;
}





