section:hover{
  cursor: pointer;
}


.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}


.content div{
    position: relative;
    width: 7em;
    height: 20%;
    overflow: hidden;
    border-radius: 5px;
}

.content div img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: .3s ease;
  border-radius: 5px;
}










