.splide{
  width: 500px;
}


.splide__slide{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.splide__slide img {
  width: 70%;
  height: auto;
}

.splide__arrows{
  display: none;
}

@media all and (max-width: 430px){
    .splide{
      width: 200px;
    }
  
}



