.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.skills-header{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 15px;

}

.skills-title{
    font-weight: 700;
}

.skills-description{
    font-weight: 450;
    font-size: 20px;
}


.skills-list{
    list-style: none;
    text-align: center;
}
.skills-item{
    font-weight: 500;
    font-size: 20px;
}

.skills__cards{
    margin-bottom: 20px;
}

@media all and (max-width: 800px){
    .skills{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
    .skills-header{
        text-align: center;
    }
    
}

@media all and (max-width: 430px){
    .skills__cards{
       display: flex;
       justify-content: center;
    }
}





